html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.on {color: #0f0;}
.off {color: #f00;}
.on2 {color: #ff0;}
.expand {cursor: pointer;}
.expand ul {opacity: 1;}
.expand ul.ng-hide-add, .expand ul.ng-hide-remove {transition: all linear 0.3s;}
.expand ul.ng-hide {opacity: 0;}
